// ================================================
$social-media-icon-size: 22px;
$social-media-padding: 15px;
$social-media-link-padding: 10px;
$social-media-transition-duration: 0.3s;
$social-media-width: 60px;

// Social Media Colors
$social-media-color-whatsapp: #25d366;
$social-media-color-github: #333;
$social-media-color-linkedin: #0077b5;
$social-media-color-facebook: #3b5998;
$social-media-color-instagram: #c13584;
$social-media-color-email: #d14836;
